@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
      --foreground-rgb: 255, 255, 255;
      /* used tailwind gray950 +  tailwind gray-600 */
      --background-start-rgb: 55 65 81;
      --background-end-rgb: 3 7 18;
      --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
      --secondary-glow: linear-gradient(to bottom right,
          rgba(1, 65, 255, 0),
          rgba(1, 65, 255, 0),
          rgba(1, 65, 255, 0.3));
          --tile-start-rgb: 2, 13, 46;
          --tile-end-rgb: 2, 5, 19;
          --tile-border: conic-gradient(#ffffff80,
              #ffffff40,
              #ffffff30,
              #ffffff20,
              #ffffff10,
              #ffffff10,
              #ffffff80);
    
          --callout-rgb: 20, 20, 20;
          --callout-border-rgb: 108, 108, 108;
          --card-rgb: 100, 100, 100;
          --card-border-rgb: 200, 200, 200;
    --background: #FFFFFF;
    --foreground: #000000;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --popover: #FFFFFF;
    --popover-foreground: #000000;
    --primary: #333;
    --primary-foreground: rgb(226, 225, 225);
    --secondary: #FFD700;
    --secondary-foreground: #000000;
    --muted: #999999;
    --muted-foreground: #666666;
    --accent: #3B82F6;
    --accent-foreground: #FFFFFF;
    --destructive: #E11D48;
    --destructive-foreground: #FFFFFF;
    --border: #CCCCCC;
    --input: #FFFFFF;
    --gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    --gold-foreground: black;
    /* Silver Medal */
    --silver: radial-gradient(ellipse farthest-corner at right bottom, #FFFFFF 0%, #EFEFEF 8%, #D9D9D9 30%, #BDBDBD 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #F0F0F0 8%, #D4D4D4 25%, #A6A6A6 62.5%, #A6A6A6 100%);

    /* Bronze Medal */
    --bronze: radial-gradient(ellipse farthest-corner at right bottom, #D0853C 0%, #B8741A 8%, #8C5211 30%, #6E3E0B 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #F5D9AF 0%, #E7AC6F 8%, #C77E41 25%, #80461B 62.5%, #80461B 100%);
    --black: #000;
    --white: #fff;
    --slate: #374151;
    --background: rgb(247, 244, 244);
    --gray: rgb(119, 114, 114);
    --font-main: "Montserrat", sans-serif;
    --dark-gray: #262626;
    --dark-black: #333;
    --dark-text: rgb(226, 225, 225);
    --ring: #3B82F6;
    --radius: 0.5rem;
  }


  * {
    @apply box-border p-0 m-0;
  }

  html {
    @apply text-white bg-black;
  }

  html,
  body {
    @apply max-w-full overflow-x-hidden;
  }

  body {
    @apply text-[rgb(var(--foreground-rgb))] bg-gradient-to-b from-transparent to-[rgb(var(--background-end-rgb))] bg-[rgb(var(--background-start-rgb))];
    @apply font-sans leading-relaxed text-gray-800 max-w-[1200px] mx-auto p-5;
  }

  a {
    @apply text-inherit no-underline;
  }
}

@layer components {


  h1,
  h2,
  h3 {
    @apply text-[#bebebe] font-bold p-2 text-xl ;
  }

}


{
  .max-height-transition {
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
  }
}